<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python39\python.exe|C:\Python39\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application fullPath="C:\Python39\python.exe" arguments="C:\Python39\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="PYTHONPATH" value="C:\path\to\your\application" />
          <environmentVariable name="WSGI_HANDLER" value="yourapp.wsgi_app" />
          <environmentVariable name="WSGI_LOG" value="C:\path\to\your\wsgi\log\file.log" />
          <environmentVariable name="APP_SETTINGS" value="config.DevelopmentConfig" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>